<!DOCTYPE html>
<html lang="hu">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StepSetGo - Lépj egy egészségesebb élet felé!</title>
    <link rel="stylesheet" href="../src/css/landing.css" />
    <link rel="stylesheet" href="../src/css/output.css" />
  </head>

  <body class="bg-[#222831] overflow-x-hidden" id="">
    <!--- Hero sekcio -->
    <%- include('landing/hero') %>

    <!-- kozep sekcio -->
    <%- include('landing/middle') %>

    <!--- Also sekcio -->
    <%- include('landing/hero') %>
  </body>
</html>
